<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
    <%- include('../../layout/header')  %>
 <form action="/searches/new" method="POST">
     <input type="text" name="search" placeholder="Enter a Title or Author">
     <br>
     <label for="title"> TItle</TItle></label>
     <br>
     <input type="radio" name="radioType" placeholder="Title" value="title" required>
     <br>
     <label for="author"> Author</label>
     <br>
     <input type="radio" name="radioType" placeholder="Author" value="author" required>
     <br>
     <button>Search</button>





 </form>
</body>
</html>